<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Student List</title>
</head>
<body>
<a href="/create">Add New Student</a>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name </th>
        <th>Age </th>
        <th>Img </th>
        <th>Class </th>
        <th>Action</th>
    </tr>
    <tr th:each="s, loop:${students}">`
        <td th:text="${loop.count}"></td>
        <td th:text="${s.name}"></td>
        <td th:text="${s.age}"></td>
        <td><img th:src="${s.img}" height="150px" width="100px"></td>
        <td th:text="${s.classRoom.name}"></td>

        <td><a th:href="@{/{id}/edit(id=${s.id})}">edit</a>
            <a th:href="@{/{id}/delete(id=${s.id})}">delete</a></td>

    </tr>
</table>
</body>
</html>